# PostgreSQL Configuration
DB_USER=postgres
DB_PASSWORD=your_secure_password
DB_NAME=inventory_db
DB_HOST=db
DB_PORT=5432

# FastAPI DB URL
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

# Vite Frontend API URL (leave empty when deploying with Nginx docker)
VITE_API_URL=
